
/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  
  color: grey ;
  background-color: rgba(255, 255, 255, 0.87);
}

.nav-main {
  margin: 100px;

}

.link-main:hover {
  color: #6C8CFF;  
}

.section {
  padding: 50px;
}
